/ClientModel.class
/ClientEntity.class
/CompanyEntity.class
/ContractEntity.class
/EmployeeEntity.class
/ProtocolEntity.class
/ServiceEntity.class
/EmployeeEntity$ROLE.class
/ServiceOrderEntity.class
